@use '@/shared/scss/underscore' as _;

.form {
  @include _.flex-column;
  // Add flex properties to position button at bottom
  flex: 1;
  justify-content: space-between;

  > * {
    width: 100%;
  }

  .inputField,
  .terms,
  .formErrors,
  .message {
    margin-bottom: _.unit(4);
  }

  .message {
    @include _.text-hint;
  }

  .formErrors {
    margin-inline-start: _.unit(0.5);
    margin-top: _.unit(-3);
  }

  .hidden {
    display: none;
  }
}

:global(body.mobile) {
  .form {
    // Add bottom padding for better spacing when button is at bottom
    padding-bottom: _.unit(5);

    // Ensure the button container doesn't have extra margin
    > *:last-child {
      margin-top: auto;
    }
  }
}
