.dummyCustomInputField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 20px;
  color: #C1C4CD;
  background-color: #F7F9FC;
  border: 1px solid #E8EAED;
  border-radius: 12px;
  padding: 0 18px;
  // font-size: 18px;
  font: 500 18px/24px "Manrope", sans-serif;
  overflow: hidden;

  p {
    margin: 15px 0;
    min-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }
}