@use '@/shared/scss/underscore' as _;

.form {
  @include _.flex-column;
  // Add flex properties to position button at bottom
  flex: 1;
  justify-content: space-between;

  > * {
    width: 100%;
  }

  .inputField,
  .formErrors,
  .passwordSwitch {
    margin-bottom: _.unit(4);
  }

  .formErrors {
    margin-inline-start: _.unit(0.5);
    margin-top: _.unit(-3);
  }
}

.passwordSwitch {
  @include _.flex-row;
  width: 100%;
  user-select: none;
  cursor: pointer;

  .checkbox {
    margin-inline-end: _.unit(2);
    fill: var(--color-type-secondary);
    cursor: pointer;
  }
}

:global(body.mobile) {
  .form {
    // Add bottom padding for better spacing when button is at bottom
    padding-bottom: _.unit(5);

    // Push the button to the bottom
    // The input field and error message will be at the top
    > .button {
      margin-top: auto;
    }
  }
}
