@use '@/shared/scss/underscore' as _;

.pinContainer {
  @include _.flex-row;
  justify-content: space-between;
  gap: _.unit(2);
  width: 100%;
  // border: 1px solid red;
  overflow: hidden;

  .pinInput {
    flex: 1;
    height: 48px;
    width: 15%;
    border: none;
    border-bottom: 2px solid var(--color-line-border);
    background: transparent;
    text-align: center;
    font: var(--font-label-1);
    color: #00002F;
    caret-color: #00002F;
    transition: border-color 0.2s ease;
    // font-size: 40px;

    &:focus {
      border-bottom-color: #00002F;
      outline: none;
    }

    // Password dots styling
    &[type='password'] {
      font-size: 20px;
      letter-spacing: 0;
      line-height: 48px;
    }
  }
}

.errorMessage {
  margin-inline-start: _.unit(0.5);
  margin-top: _.unit(2);
}

:global(body.desktop) {
  .pinContainer {
    .pinInput {
      // font: var(--font-body-2);

      &:focus {
        border-bottom-color: #00002F;
      }
    }
  }
}

