@use '@/shared/scss/underscore' as _;

.wrapper {
  @include _.full-page;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  @include _.full-width;
  // margin-block: _.unit(2);
  // Add flex properties to support bottom-positioned buttons
  display: flex;
  flex-direction: column;
  flex: 1;
}

.customTitle {
  font: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--color-type-primary);
  text-align: center;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-top: _.unit(0);
  margin-bottom: _.unit(8);
}

.header {
  // margin-bottom: _.unit(2);
}

.description {
  margin-top: _.unit(2);
  @include _.text-hint;
}

.customDescription {
  // font: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6A7187;
  text-align: center;
  line-height: 26px;
  letter-spacing: 0.2px;

  span {
    color: #6A7187;
    font-weight: 700;
  }
}

:global(body.mobile) {
  .wrapper {
    // Ensure wrapper fills the viewport height for bottom positioning
    min-height: 100%;
  }

  .container {
    // margin-block: _.unit(2);
    margin: 0;
  }

  .title {
    @include _.title;
  }

  .notification {
    margin: 0 _.unit(-5) _.unit(6);
  }
}

:global(body.desktop) {
  .container {
    margin-block: _.unit(12);
  }

  .header {
    margin-bottom: _.unit(4);
  }

  .title {
    @include _.title_desktop;
  }

  .notification {
    @include _.full-width;
    margin-top: _.unit(6);
    border-radius: var(--radius);
  }
}
