@use '@/shared/scss/underscore' as _;

.wrapper {
  @include _.full-page;
}

.container {
  @include _.full-width;
  margin-block: _.unit(2);
}

.customTitle {
  font: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: var(--color-type-primary);
  text-align: center;
  line-height: normal;
  letter-spacing: 0.2px;
}

.header {
  margin-bottom: _.unit(6);
}

.description {
  margin-top: _.unit(2);
  @include _.text-hint;
}

.customDescription {
  font: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-type-secondary);
  text-align: center;
  line-height: normal;
  letter-spacing: 0.2px;

  span {
    color: var(--color-type-primary);
    font-weight: 500;
  }
}

:global(body.mobile) {
  .container {
    margin-block: _.unit(2);
  }

  .title {
    @include _.title;
  }

  .notification {
    margin: 0 _.unit(-5) _.unit(6);
  }
}

:global(body.desktop) {
  .container {
    margin-block: _.unit(12);
  }

  .header {
    margin-bottom: _.unit(4);
  }

  .title {
    @include _.title_desktop;
  }

  .notification {
    @include _.full-width;
    margin-top: _.unit(6);
    border-radius: var(--radius);
  }
}
