@use '@/shared/scss/underscore' as _;

.form {
  @include _.flex-column;
  // Add flex properties to position buttons at bottom
  flex: 1;
  justify-content: space-between;

  > * {
    width: 100%;
  }

  .inputField {
    margin-bottom: _.unit(8);

    &.withError {
      margin-bottom: _.unit(2);
    }
  }

  .message {
    font: var(--font-body-2);
    color: var(--color-type-secondary);
  }

  .message,
  .link,
  .switch {
    width: auto;
    align-self: start;
  }

  .switch,
  .continueButton {
    // margin-top: _.unit(6);
  }

  .resendCodeButton {
    margin-top: _.unit(3);
  }
}

:global(body.mobile) {
  .form {
    // Add bottom padding for better spacing when buttons are at bottom
    padding-bottom: _.unit(5);

    // Group the buttons together at the bottom
    // The input field will be at the top, buttons at the bottom
    > .continueButton {
      margin-top: auto;
    }
  }
}
