@use '@/shared/scss/underscore' as _;

button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: _.unit(2);
  color: #ff8473;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.loadingIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.text {
  display: inline-block;
}

