@use '@/shared/scss/underscore' as _;

.form {
  @include _.flex-column;

  > * {
    width: 100%;
  }

  .inputField,
  .link,
  .terms,
  .formErrors,
  .message {
    margin-bottom: _.unit(4);
  }

  .link {
    margin-top: _.unit(-1);
    align-self: start;
    width: auto;
    color: #ff8473;
  }

  .message {
    @include _.text-hint;
  }

  .formErrors {
    margin-inline-start: _.unit(0.5);
    margin-top: _.unit(-3);
  }

  .hidden {
    display: none;
  }

  .customInputFieldHidden {
    display: none;
  }

  .dummyCustomInputField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px;
    color: #c1c4cd;
    background-color: #f7f9fc;
    border: 1px solid #c1c4cd;
    border-radius: 12px;
    padding: 0 18px;
    font-size: 18px;

    p {
      margin: 15px 0;
    }
  }
}

:global(.desktop) {
  .form {
    .link {
      margin-top: _.unit(-2);
    }
  }
}
