@use '@/shared/scss/underscore' as _;

.wrapper {
  @include _.full-page;
  @include _.flex-column(normal, normal);
  @include _.full-width;

  > *:last-child {
    margin-bottom: 0;
  }
}

:global(body.mobile) {
  .wrapper {
    // Use space-between to push button to bottom
    justify-content: space-between;
    min-height: 100%;
  }
}

:global(body.desktop) {
  .wrapper {
    padding: _.unit(6) 0;
  }

  .placeholderTop {
    flex: 3;
  }

  .placeholderBottom {
    flex: 5;
  }
}
